<xml>
	<ToUserName>
		<![CDATA[<%= params[:xml][:FromUserName] %>]]>
	</ToUserName>
	<FromUserName>
		<![CDATA[<%= params[:xml][:ToUserName] %>]]>
	</FromUserName>
	<CreateTime>
		<%= Time.now.to_i %>
	</CreateTime>
	<MsgType>
		<![CDATA[music]]>
	</MsgType>
	<Music>
		<Title><![CDATA[<%= @song.name%>]]></Title>
		<Description>
			<![CDATA[<%= @song.description %>]]>
		</Description>
		<MusicUrl>
			<![CDATA[<%= @song.mp3_url%>]]>
		</MusicUrl>
		<HQMusicUrl>
			<![CDATA[<%= @song.mp3_url%>]]]>
		</HQMusicUrl>
		<ThumbMediaId>
			<![CDATA[media_id]]>
		</ThumbMediaId>
	</Music>
</xml>