<div class="content">
	<div class="inner">
		<div class="background-gray">
			<div class="gallery" id="slides">
				<a href="#" class="slidesjs-previous slidesjs-navigation"><div class="prev_button remove_button"></div></a>
				<a href="#" class="slidesjs-next slidesjs-navigation"><div class="next_button remove_button"></div></a>
				<% times = 4 / @user.slots.count + 1 %>
				<% i = 0 %>
				<% index = 0 %>
				<% while (i < times) %>
				<% i = i + 1 %>
				<% @user.slots.each do |slot| %>
				<% index = index + 1 %>
				<div class="viewphoto">
					<div class="card">
						<div class="songphoto" style="background: image-url('<%= slot.card.song.cardpicurl %>') 0px 0px no-repeat">
							<div class="fasade"></div>
						</div>
					</div>
					<div style="display:none" id="title-<%= index%>">
						<%= slot.card.song.name %>
					</div>
					<div style="display:none" id="description-<%= index%>">
						<%= slot.card.song.description %>
					</div>
					<div style="display:none" id="mp3-<%= index%>" class="mp3url">
						<%= slot.card.song.mp3_url %>
					</div>
				</div>

				<% end %>
				<% end %>
			</div>
			<div id="slidesjs-log" class="page-number remove_button">
				<span class="slidesjs-slide-number">1</span>/<span class="slidesjs-total-number">1</span>
			</div>
			<div class="border remove_button"></div>
			<div class="control_panel">

				<div class="play2_button remove_button"></div>
				<div class="desc_panel remove_button">
					<div id="title" class="title">
						廖国钺·流浪
					</div>
					<span id="description" class="song_description">2014年最新创作单曲。集合了诸多音乐新生力量。</span>
				</div>
			</div>
		</div>
		<div class="player" style="display:none">
			<div class="background" >
				<div class="screen"></div>
				<div class="play_button"></div>
				<div class="pause_button"></div>
				<div class="eject_button"></div>
			</div>
			<div class="load_panel">
				<div class="load_panel_up"></div>
				<div class="load_panel_down"></div>
			</div>
		</div>
	</div>
</div>
<!-- End SlidesJS Required: Start Slides -->

<!-- SlidesJS Required: Initialize SlidesJS with a jQuery doc ready -->
<script>
	var current;
$(document).ready(function() {
var count = <%= @user.slots.count %>
	;
	$("span.slidesjs-total-number").text(count);
	soundManager.setup({
		// required: path to directory containing SM2 SWF files
		url : './',
		onready : function() {
			$("div.mp3url").each(function(index) {
				soundManager.createSound({
					id : $(this).attr('id'),
					url : $(this).text()
				});
			});
		},
	});
	$('#slides').slidesjs({
		width : 320,
		height : 350,
		callback : {
			loaded : function(number) {
				current = number;
				// Use your browser console to view log
				console.log('SlidesJS: Loaded with slide #' + number);

				// Show start slide in log
				$("#title").text($("#title-" + number).text());
				$("#description").text($("#description-" + number).text());
				$('#slidesjs-log .slidesjs-slide-number').text((number - 1) % count + 1);
			},
			start : function(number) {
				current = number;
				// Use your browser console to view log
				$(".play2_button").fadeOut(0);
				$(".desc_panel").fadeOut(0);
				console.log('SlidesJS: Start Animation on slide #' + number);
			},
			complete : function(number) {
				// Use your browser console to view log
				current = number;
				$(".play2_button").fadeIn(500);
				$(".desc_panel").fadeIn(500);
				console.log('SlidesJS: Animation Complete. Current slide is #' + number);

				// Change slide number on animation complete
				$("#title").text($("#title-" + number).text());
				$("#description").text($("#description-" + number).text());
				$('#slidesjs-log .slidesjs-slide-number').text((number - 1) % count + 1);
			}
		}
	});
	$("div.play2_button").click(function() {
		$("div.remove_button").fadeOut(500);
		$("div.player").css({
			top : "-450px"
		});
		$("div.player").show();
		$("div.player").animate({
			top : "0px"
		}, 2000, function() {
			soundManager.play($("#mp3-" + current).attr("id"));
		$("div.play_button").toggleClass("play_button_active",true);
		});
	});

	$("div.eject_button").click(function() {
		$("div.play_button").toggleClass("play_button_active",false);
		$("div.pause_button").toggleClass("pause_button_active",false);
		soundManager.stop($("#mp3-" + current).attr("id"));
		$("div.player").css({
			top : "0px"
		});
		$("div.player").show();
		$("div.player").animate({
			top : "-450px"
		}, 2000, function() {
			$("div.player").hide();
			$("div.remove_button").fadeIn(500);
		});
	});
	});
	$("div.play_button").click(function() {
		soundManager.resumeAll();
		$("div.play_button").toggleClass("play_button_active",true);
		$("div.pause_button").toggleClass("pause_button_active",false);
	});
	$("div.pause_button").click(function() {
		soundManager.pauseAll();
		$("div.play_button").toggleClass("play_button_active",false);
		$("div.pause_button").toggleClass("pause_button_active",true);
	}); 
</script>
<!-- End SlidesJS Required -->
