<div class="gh-admission-main">
	<div class="container">
		<h1>光合音乐入场券</h1>
		<p class="lead">一个月最难忘的音乐经历，迈出音乐旅程的第一步<br />面对梦想，这一次我们将不遗余力</p>
	</div>
</div>
<div class="gh-admission-feature">
	<div class="container">
		<h2>30天的极限挑战，光合音乐成长任务</h2>
		<p class="lead">和粉丝共同完成的音乐任务，最真实地还原音乐道路上的点点滴滴<br /></p>
		<hr />
		<div class="gh-admission-item row">
			<div class="col-sm-6">
				<h3 class="gh-admission-title">“过去音乐人遇到的最大难题就是如何迈出第一步，<br />光合入场券希望通过精心设计的六个任务<br />让每一个音乐人顺利启程。”</h3>
				<%= image_tag "gh-fanspal-usercase.jpg", :class => "img-responsive" %>
			</div>
			<div class="col-sm-6">
				<div class="gh-timeline-container">
						<div class="gh-timeline-major">
							<a class="btn btn-lg btn-outline">第0天：初出茅庐</a>
						</div>
						<div class="gh-timeline-minor">
							<h4>选择5首个人作品上传，总人气值到达1000，解锁光合小伙伴</h4>
						</div>
						<div class="gh-timeline-major">
							<a class="btn btn-lg btn-outline">第3天：百里挑一</a>
						</div>
						<div class="gh-timeline-minor">
							<h4>通过实名认证，总人气值达到2000，解锁我的音乐制作团队</h4>
						</div>
						<div class="gh-timeline-major">
							<a class="btn btn-lg btn-outline">第8天：一鸣惊人</a>
						</div>
						<div class="gh-timeline-minor">
							<h4>升级第一张绿卡，总人气值达到4000，解锁第一支音乐视频</h4>
						</div>
						<div class="gh-timeline-major">
							<a class="btn btn-lg btn-outline">第12天：再接再厉</a>
						</div>
						<div class="gh-timeline-minor">
							<h4>升级第二张绿卡，总人气值达到6000，解锁第二支音乐视频</h4>
						</div>
						<div class="gh-timeline-major">
							<a class="btn btn-lg btn-outline">第18天：整装待发</a>
						</div>
						<div class="gh-timeline-minor">
							<h4>所有作品升级到绿卡，总人气值达到10000，解锁在线演唱会</h4>
						</div>
						<div class="gh-timeline-major">
							<a class="btn btn-lg btn-outline">第25天：小有所成</a>
						</div>
						<div class="gh-timeline-minor">
							<h4>完成在线演唱会，总人气值达到15000，解锁演唱会视频</h4>
						</div>
				</div>
			</div>
		</div>
		<hr />
		<h2>超乎想象的音乐服务，和我们一起全力以赴</h2>
		<p class="lead">对于创造好音乐，我们和你一样精益求精</p>
		<div class="row">
			<div class="col-sm-4 gh-service-item">
				<%= image_tag "gh-service-p1.png", :class => "img-responsive" %>
				<div class="gh-service-caption">
					<h3>金牌制作团队</h3>
					<p>由光合精选的制作团队做你最坚实的后援</p>
				</div>
			</div>
			<div class="col-sm-4 gh-service-item">
				<%= image_tag "gh-service-p2.png", :class => "img-responsive" %>
				<div class="gh-service-caption">
					<h3>光合之家</h3>
					<p>音乐需要听众，也需要一个温暖的家</p>
				</div>
			</div>
			<div class="col-sm-4 gh-service-item">
				<%= image_tag "gh-service-p3.png", :class => "img-responsive" %>
				<div class="gh-service-caption">
					<h3>光合小伙伴</h3>
					<p>让你的音乐之旅永远不会孤军奋战</p>
				</div>
			</div>
		</div>
		<hr />
		<h2>精心设计的粉丝互动体验，光合音乐粉丝宝</h2>
		<p class="lead">最方便的粉丝互动工具，把每一份粉丝心意汇聚在此</p>
		<hr />
		<div class="row">
			<div class="col-sm-4">
				<%= image_tag "gh-fanspal-f1.png" %>
				<h4>全平台聚合</h4>
				<p>通过二维码，在各个平台上锁定核心粉丝汇聚在此</p>
			</div>
			<div class="col-sm-4">
				<%= image_tag "gh-fanspal-f2.png" %>
				<h4>无需众筹</h4>
				<p>粉丝点赞，你来做歌，让粉丝和你一起成长</p>
			</div>
			<div class="col-sm-4">
				<%= image_tag "gh-fanspal-f3.png" %>
				<h4>粉丝大数据</h4>
				<p>谁是铁杆粉丝，粉丝最喜欢哪首歌，种种难题不再迷茫</p>
			</div>
		</div>
		<hr />
	</div>
</div>
