<div id="content" class="gh-intro-main">
	<div class="container">
		<h1>音乐复兴</h1>
		<p class="lead hidden-xs">我们是信息时代的唱片公司，致力于通过互联网打造新时代的好音乐<br />再现音乐市场的繁荣和兴旺</p>
		<p class="lead visible-xs">我们是信息时代的唱片公司<br />致力于通过互联网打造新时代的好音乐<br />再现音乐市场的繁荣和兴旺</p>
		<p class="lead visible-xs">光合音乐</p>
	</div>
</div>
<div class="gh-intro-feature">
	<div class="container">
		<h2 class="hidden-xs">每个人都是音乐的创造者</h2>
		<h3 class="visible-xs">每个人都是音乐的创造者</h3>
		<p class="lead hidden-xs">没有繁琐的经纪合约，光合音乐致力于服务每一位心怀梦想的音乐人<br />我们相信互联网让每个好音乐正在发声</p>
		<p class="lead visible-xs">没有繁琐的经纪合约<br />光合音乐致力于服务<br />每一位心怀梦想的音乐人</p>
		<p class="lead visible-xs">我们相信互联网让每个好音乐<br />正在发声</p>
		<hr/>
		<div class="row">
			<div class="col-sm-4">
				<%= image_tag "gh-logo-lv1.png" %>
				<h4>光合入场券</h4>
				<p>为早期音乐人量身打造的一个月孵化计划，匹配你的第一位制作人，打磨第一只作品以及培养第一批忠实听众</p>
			</div>
			<hr class="visible-xs" />
			<div class="col-sm-4">
				<%= image_tag "gh-logo-lv2.png" %>
				<h4>光合成长计划</h4>
				<p>为成长期的音乐人定制的三个月成长计划，全力打造属于你的第一张EP作品，成为你音乐道路上的一步飞跃</p>
			</div>
			<hr class="visible-xs" />
			<div class="col-sm-4">
				<%= image_tag "gh-logo-lv3.png" %>
				<h4>光合加速计划</h4>
				<p>为加速期的音乐人定制的六个月成长计划，实现首张个人专辑的全国发行和巡演计划，你的粉丝在等待你</p>
			</div>
		</div>
		<hr />
		<p class="lead">光合音乐面向全国的优秀音乐人开放第一批入场券，限量68张</p>
		<a class="btn btn-outline btn-lg" href="<%= admission_path %>">详细了解光合入场券</a>
	</div>
</div>
<div class="gh-intro-feature">
	<div class="container">
		<h2 class="hidden-xs">激活你的音乐能量</h2>
		<h3 class="visible-xs">激活你的音乐能量</h3>
		<p class="lead">在快速发展的信息时代，拥有传播能量的好音乐才能唤醒听众的耳朵<br />光合音乐专注于挖掘和制作最有能量的音乐内容，引爆互联网</p>
		<div class="row">
			<div class="col-xs-4 col-sm-2 feature-item">
				<h2><span class="glyphicon glyphicon-phone"></span></h2>
				<h4>移动优先</h4>
			</div>
			<div class="col-xs-4 col-sm-2 feature-item">
				<h2><span class="glyphicon glyphicon-user"></span></h2>
				<h4>金牌制作</h4>
			</div>
			<div class="col-xs-4 col-sm-2 feature-item">
				<h2><span class="glyphicon glyphicon-globe"></span></h2>
				<h4>全网推广</h4>
			</div>
			<div class="col-xs-4 col-sm-2 feature-item">
				<h2><span class="glyphicon glyphicon-thumbs-up"></span></h2>
				<h4>人气为王</h4>
			</div>
			<div class="col-xs-4 col-sm-2 feature-item">
				<h2><span class="glyphicon glyphicon-certificate"></span></h2>
				<h4>信用担保</h4>
			</div>
			<div class="col-xs-4 col-sm-2 feature-item">
				<h2><span class="glyphicon glyphicon-gift"></span></h2>
				<h4>周边开发</h4>
			</div>
		</div>
		<hr />
		<p class="lead">光合音乐与大家一起释放音乐能量</p>
		<a class="btn btn-outline btn-lg" href="<%= recruit_path %>">申请加入光合音乐</a>
	</div>
</div>

<% content_for :scripts do %>
<script>
$(function(){
	$('.alert').hide();
});
</script>
<% end %>
