<div class="gh-artist-main">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<a href="<%= songs_path %>" class="btn btn-outline btn-lg btn-block">
					<h3><span class="glyphicon glyphicon-music"></span> <%= current_idol.songs.count %></h3>
					<p class="lead">总歌曲数</p>
				</a>
  			</div>
  			<div class="col-md-4">
				<a href="<%= songs_path %>" class="btn btn-outline btn-lg btn-block">
					<h3><span class="glyphicon glyphicon-thumbs-up"></span> 1259</h3>
					<p class="lead">总人气值</p>
				</a>
  			</div>
  			<div class="col-md-4">
				<a href="<%= songs_path %>" class="btn btn-outline btn-lg btn-block">
					<h3><span class="glyphicon glyphicon-user"></span>制作人</h3>
					<p class="lead">人气值1000开启</p>
				</a>
  			</div>
		</div>
	</div>
</div>

<div class="gh-fb-main">
	<div class="container">
		<a href="<%= admission_path %>" class="btn btn-outline btn-lg btn-block">
			<h3>光合入场券（进行中）</h3>
			<p class="lead">已完成任务23/32个</p>
		</a>
		<a class="btn btn-outline btn-lg btn-block">
			<h3>光合成长计划-1（未解锁）</h3>
			<p class="lead">总人气值到达10000后解锁</p>
		</a>
		<a class="btn btn-outline btn-lg btn-block">
			<h3>光合成长计划-2（未解锁）</h3>
			<p class="lead">完成光合成长计划-1的所有任务后解锁</p>
		</a>
		<a class="btn btn-outline btn-lg btn-block">
			<h3>光合加速计划（未开放）</h3>
			<p class="lead">敬请期待，会在开放后第一时间通知您申请相关事宜</p>
		</a>
	</div>
</div>
