<div id="gh-recruit-step1">
<%= simple_form_for(@recruit, remote: true) do |f| %>
<div class="gh-recruit-main">
	<div class="container">
		<h1>互联网·音乐·革命<br />已经来临</h1>
		<p class="lead">机遇·挑战</p>
		<hr />
		<p class="lead">作为信息时代的唱片公司<br />我们相信下一个音乐时代<br />每一个人都可以成为音乐的创造者</p>
		<p class="lead">光合音乐</p>
	</div>
</div>

<div class="gh-recruit-main default">
	<div class="container">
		<h3>第一批召集令</h3>
		<p class="lead">截止日期<br />2014-4-30</p>
		<p class="lead">接头地点<br />北京·五道口·宇宙中心</p>
		<p class="lead">诚邀请<br />对音乐产业的未来怀有信念的你</p>
	</div>
</div>
<div class="gh-recruit-main red">
	<div class="container">
		<h3 style="margin-top: 10px">技术小分队</h3>
		<p class="lead">致力于解决音乐服务规模化的问题<br />建立新的音乐人创作生态<br />用互联网手段聚拢更多的音乐粉丝</p>
		<hr />
		<p class="lead">和我们一起探索<br />什么样的互联网音乐产品<br />能满足近万名偶像的音乐需求</p>
		<p class="lead">我的志愿</p>
		<div class="col-sm-4 col-sm-offset-4" style="margin-top: -10px; margin-bottom: 20px;">
		<%= f.input :it_ability, collection: ["我还没想好呢", "我是熟悉Rails的Web工程师", "我是熟悉APP开发的移动工程师", "我是音乐互联网产品经理", "我是设计师" ,"我是大神，我无所不能", "我是拥有智力光环的软妹子"], include_blank: false, label: false%>
		</div>
	</div>
</div>
<div class="gh-recruit-main blue">
	<div class="container">
		<h3 style="margin-top: 10px">运营小分队</h3>
		<p class="lead">全力打造代表互联网时代的音乐偶像<br />兼顾传统媒体和新媒体传播理念<br />寻求新的模式创新</p>
		<hr />
		<p class="lead">英雄不问出处<br />新的时代需要新的偶像<br />让我们赢在起跑线上</p>
		<p class="lead">我的志愿</p>
		<div class="col-sm-4 col-sm-offset-4" style="margin-top: -10px; margin-bottom: 20px;">
		<%= f.input :mkt_ability, collection: ["我还没想好呢", "我拥有多年的唱片行业的市场从业经历", "我拥有多年的互联网行业的新媒体从业经历", "我是大神，我无所不能", "我是拥有敏捷光环的软妹子"], include_blank: false, label: false%>
		</div>
	</div>
</div>
<div class="gh-recruit-main green">
	<div class="container">
		<h3 style="margin-top: 10px">德智体小分队</h3>
		<p class="lead">成为音乐行业在互联网时代的中坚力量<br />不断思考音乐的未来模式<br />并且愿意付诸实践</p>
		<hr />
		<p class="lead">毛主席说<br />要团结一切可以团结的力量<br />我们在等你</p>
		<p class="lead">我的志愿</p>
		<div class="col-sm-4 col-sm-offset-4" style="margin-top: -10px; margin-bottom: 20px;">
		<%= f.input :other_ability, collection: ["我还没想好呢", "我是信息技术相关专业的学生", "我是文化传媒相关专业的学生","我是职业音乐人","我是投资人","我是媒体合作伙伴", "我是大神，我无所不能", "我是拥有力量光环的软妹子"], include_blank: false, label: false%>
		</div>
	</div>
</div>
<div class="gh-recruit-main default">
	<div class="container">
		<h3>距离召集令结束还有</h3>
		<% t = Time.now %>
		<p class="lead"><%= 30 - t.day %>天<%= 23 - t.hour %>小时<%= 60 - t.min%>分</p>
		<hr />
		<p class="lead">相信您已经做好了上面的选择<br />那么也请留下姓名</p>
		<div class="row">
		<div class="col-sm-4 col-sm-offset-4" style="margin-top: -10px; margin-bottom: 20px;">
		<%= f.input :name, placeholder: "请留下您的姓名（必填）", label: false %>
		</div></div>
		<p class="lead">和常用的联系方式</p>
		<div class="row">
		<div class="col-sm-4 col-sm-offset-4" style="margin-top: -10px; margin-bottom: 20px;">
			<%= f.input :wechat, placeholder: "请留下您的手机号/微信号（必填）", label: false %>
		</div></div>
		<div class="col-sm-4 col-sm-offset-4" style="margin-top: 10px; margin-bottom: 20px;">
			<%= f.submit '确认提交', :class => "btn btn-outline btn-lg btn-block", :disable_with => '保存中' %>
			<p style="margin-top: 8px;">获得惟一接头暗号</p>
		</div>	
	</div>
</div>
<% end %>
</div>
<div id="gh-recruit-step2"></div>

<div id="gh-recruit-step3"></div>

<% content_for :title do %>
光合音乐人才召集令
<% end %>

<% content_for :scripts do %>
<script type="text/javascript">
var dataForWeixin={
	appId:	"",
	img:	"http://guanghe-photo.b0.upaiyun.com/home/gh-logo-square.jpg!avatarsmall", 
	url:	"http://guanghemusic.com/recruit",
	title:	"光合音乐人才招募",
	desc:	"作为信息时代的唱片公司，我们诚挚邀请对音乐产业的未来怀有信念的你，加入到我们这场音乐革命之中",
	fakeid:	"",
};
(function(){
	var onBridgeReady=function(){
		// 发送给好友;
		WeixinJSBridge.on('menu:share:appmessage', function(argv){
			WeixinJSBridge.invoke('sendAppMessage',{
				"appid":		dataForWeixin.appId,
				"img_url":		dataForWeixin.img,
				"img_width":	"120",
				"img_height":	"120",
				"link":			dataForWeixin.url,
				"desc":			dataForWeixin.desc,
				"title":		dataForWeixin.title
			}, function(res){});
		});
		// 分享到朋友圈;
		WeixinJSBridge.on('menu:share:timeline', function(argv){
			WeixinJSBridge.invoke('shareTimeline',{
			"img_url":dataForWeixin.img,
			"img_width":"120",
			"img_height":"120",
			"link":dataForWeixin.url,
			"desc":dataForWeixin.desc,
			"title":dataForWeixin.title
			}, function(res){});
		});
		// 分享到微博;
		WeixinJSBridge.on('menu:share:weibo', function(argv){
			WeixinJSBridge.invoke('shareWeibo',{
			"content":dataForWeixin.title+' '+dataForWeixin.url,
			"url":dataForWeixin.url
			}, function(res){});
		});
		// 分享到Facebook
		WeixinJSBridge.on('menu:share:facebook', function(argv){
			WeixinJSBridge.invoke('shareFB',{
			"img_url":dataForWeixin.img,
			"img_width":"120",
			"img_height":"120",
			"link":dataForWeixin.url,
			"desc":dataForWeixin.desc,
			"title":dataForWeixin.title
			}, function(res){});
		});
	};
	if(document.addEventListener){
		document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
	}else if(document.attachEvent){
		document.attachEvent('WeixinJSBridgeReady'   , onBridgeReady);
		document.attachEvent('onWeixinJSBridgeReady' , onBridgeReady);
	}
})();
</script>
<% end %>
