<div class="gh-songs-main">
	<div class="container">
		<a class="btn btn-outline btn-lg btn-block"> <h3>我的歌曲</h3> </a>
		<div class="row" style="margin:0 auto;text-align:center">
			<div id="container" class="masonry js-masonry"  data-masonry-options='{"itemSelector": ".item" ,"isFitWidth": true}'>
				<% @songs.each do |song| %>
				<%   if !song.cards.last.blank? %>
				<div class="item">
					<div class="thumbnail gh-song-panel <%= song.cards.last.get_quality_name %>">
						<img class="img-responsive"  alt="用户头像" src="http://guanghe-photo.b0.upaiyun.com/avatar/4b7dca79dd618be9ea5c93edd1ed71a6.png!avatarsmall">
						<div class="caption">
							<h3><%= song.name %></h3>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="<%= song.cards.last.pop_number / song.cards.last.get_upgrade_target %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= song.cards.last.pop_number * 100 / song.cards.last.get_upgrade_target %>%;"></div>
							</div>
							<p>
								<%= song.cards.last.pop_number %>/<%= song.cards.last.get_upgrade_target %>人气升级到绿色
							</p>
							<p class="song-info">
								<%= song.description %>
							</p>
							<p>
								<% if song.cards.last.is_creating %>
								<div class="btn btn-outline" data-countdown="<%= song.cards.last.get_remaining_time %>"></div>
								<%= song.cards.last.get_remaining_time %>

								<% else %>
								<a href="<%= edit_song_path(song) %>" class="btn btn-outline" role="button">编辑</a>
								<a href="#" class="btn btn-outline" role="button">分享</a>
								<% end %>
							</p>
						</div>
					</div>
				</div>
				<%   end %>
				<% end %>
				<div class="item">
					<a  href="/songs/new" class="thumbnail gh-song-panel purple"> <img class="img-responsive"  alt="用户头像" src="http://guanghe-photo.b0.upaiyun.com/avatar/4b7dca79dd618be9ea5c93edd1ed71a6.png!avatarsmall"> <h3>上传歌曲</h3> </a>
				</div>
			</div>
		</div>
	</div>

</div>
<script>
	$('[data-countdown]').each(function() {
		var $this = $(this), seconds = $(this).data('countdown');
		var selectedDate = new Date().valueOf() + parseInt(seconds) * 1000;
		$this.countdown(selectedDate.toString(), function(event) {
			$this.html(event.strftime('升级剩余时间  %H:%M:%S'));
		}).on('finish.countdown', function(event) {
			alert("finish");
		});
	}); 
</script>
