<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "光合音乐" %></title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
    	</div>
    	<ul class="nav navbar-nav">
    		<li><a href="#">首页</a></li>
    		<li><a href="#">光合成长计划</a></li>
    		<li><a href="#">关于我们</a></li>
    	</ul>
    	<h3 style="text-align: center; margin: 0px auto; width: 108px;">
      		<a class="navbar-brand guanghe-logo text-hide" href="#">光合音乐</a>
      	</h3>
    	<div class="collapse navbar-collapse">
    		<ul class="nav navbar-nav navbar-right">
    			<% if current_idol %>
    			<li>
    				<div class="dropdown navbar-add-btn">
  						<button class="btn btn-outline-inverse navbar-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    						<span class="glyphicon glyphicon-plus"></span>
  						</button>
  						<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
    						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">上传新作品</a></li>
    						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">创建新活动</a></li>
    						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    						<li role="presentation" class="divider"></li>
    						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  						</ul>
					</div>
    			</li>
    			<li><div class="btn-group">
    				<%= link_to current_idol.name, myself_path, :class => "btn btn-outline-inverse navbar-btn navbar-name-btn"%>
  					<button type="button" class="btn btn-outline-inverse btn-link navbar-btn dropdown-toggle" data-toggle="dropdown">
    					<span class="caret"></span>
    				<span class="sr-only">Toggle Dropdown</span>
  					</button>
  					<ul class="dropdown-menu" role="menu">
    					<li><li class=""><%= link_to t("资料修改"), idols_profile_path %></li></li>
    					<li><%= link_to t("密码修改"), edit_idol_registration_path %></li>
    					<li><a href="#">实名认证</a></li>
    					<li><a href="#">数据统计</a></li>
    					<li class="divider"></li>
    					<li><%= link_to "登出", destroy_idol_session_path, :method => :delete, :confirm => "确认要登出吗？" %></li>
  					</ul>
				</div></li>
    			<% else %>
    			<li>
    				<div class="btn-group">
    				<%= link_to "点击申请内测音乐人", new_apply_path, :class => "btn btn-outline-inverse navbar-btn"%>
    				<%= link_to "登录", new_idol_session_path, :class => "btn btn-outline-inverse navbar-btn"%>
    				</div>
    			</li>
    			<% end %>
    		</ul>
    	</div>
	</div>
	</nav>
	
	<div class="container">
	<% if notice%>
	<div data-alert class="alert alert-info col-md-8 col-md-offset-2" id="notice-panel">
		<%= notice %>
	</div>
	<% end %>
	<% if alert %>
	<div data-alert class="alert alert-danger col-md-8 col-md-offset-2" id="alert-panel">
		<%= alert %>
	</div>
	<% end %>
	</div>
	
	<%= yield %>

</body>
</html>
